# Hugo
/public/
/resources/
*.log
**/node_modules
exampleSite/hugo_stats.json

# frontmatter
.frontmatter/
frontmatter.json

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editor-specific
.vscode/
.idea/

# Test artifacts
test-results/
