{{/*  add your custom font links here, google fonts or etc.  */}}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- async CSS (optionally increase loading priority with fetchpriority="high") -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" media="print" onload="this.onload=null;this.removeAttribute('media');" fetchpriority="high">
<!-- no-JS fallback -->
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap">
</noscript>