{{ $image := .Page.Resources.Get .Destination }}
{{ $image_webp := false }}
{{ $image_fit := false }}

{{ if not $image }}
    {{/*  {{ errorf "Image %q not found on page %q" .Destination .Page }}  */}}
    <img src="{{ .Destination | safeURL }}"
      {{- with .Text }} alt="{{ . }}"{{ end -}}
      {{- with .Title }} title="{{ . }}"{{ end -}}
    >
{{ else }}

{{/* Can only resize raster images */}}
{{ if ne $image.MediaType.SubType "svg" }}
  {{ $image_fit = $image.Fit "1000x1000" | resources.Fingerprint }}
  {{ $image_webp = $image.Fit "1000x1000 webp" | resources.Fingerprint }}
{{ end }}

{{ $image = $image | resources.Fingerprint }}

<figure>
    <picture>
        {{ if $image_webp }}
        <source loading="lazy" srcset="{{ $image_webp.Permalink }}" type="image/webp" alt="{{ .Text }}">
        {{ end }}

        {{ if $image_fit }}
        <img loading="lazy" src="{{ $image_fit.Permalink }}" alt="{{ .Text }}">
        {{ else}}
        <img loading="lazy" src="{{ $image.Permalink }}" alt="{{ .Text }}">
        {{ end }}
    </picture>

    {{ with .Text}}
    <figcaption class="center">{{ . }}</figcaption>
    {{ end }}
</figure>

{{ end }}