{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ if not $featured }}
  {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
{{ end }}
{{ if not $featured }}
  {{ $customImage := .Param "og_image_default" | default "/common-partials/opengraph/opengraph-base.png" }}
  {{ $featured = resources.Get $customImage }}
  {{ $featured = $featured.Resize "1200x" }}

  {{ $size := 80 }}
  {{ $title := .Param "ogTitleText" | default $.LinkTitle }}
  {{ if gt (len $title) 20 }}
    {{ $size = 70 }}
  {{ end }}
  {{ $fontName := default "TitilliumWeb-Regular" .Site.Params.ogImageText.fontName }}
  {{ $color := default "#085624" .Site.Params.ogImageText.fontColor }}
  {{ $font := (resources.Get (printf "/common-partials/opengraph/%s.ttf" $fontName)) }}
  {{ $textX := default 15 .Site.Params.ogImageText.x }}
  {{ $textY := default 475 .Site.Params.ogImageText.y }}
  {{ $textOptions := dict
    "color" $color 
    "size" $size
    "lineSpacing" 10
    "x" $textX "y" $textY
    "font" $font
  }}
  {{ $featured = $featured | images.Filter (images.Text $title $textOptions) }}
{{ end }}

{{ return $featured }}
