{{ define "main" }}
<div class="bg-hidden-home bg-cover fixed inset-0 flex items-center justify-center">
  <div class="md:w-3/4 p-4 m-5 items-center rounded-xl bg-gray-200/75 dark:bg-gray-800/75">
      <div class=" m-1 prose dark:prose-invert max-w-none">
      <h1 class="text-3xl text-center font-bold">{{ .Title }}</h1>
          {{ .Content }}
      </div>
      <div class=" m-1 text-center prose dark:prose-invert max-w-none">
        {{- partial "socialslist.html" . }}
      </div>
  </div>
</div>
{{ end }}
