{{- define "main" }}
  <div class="container grid grid-cols-1 gap-6 p-2 sm:p-4 sm:grid-cols-2 ">
    {{- $features := where .Pages "Params.homeFeature" "eq" true }}
    {{- range first 2 $features }}
      <a href="{{ .RelPermalink }}" class="rounded-2xl bg-sky-100 transition-[filter] hover:brightness-90 dark:text-gray-200 text-gray-800 dark:bg-sky-800 dark:hover:brightness-110 no-underline" title="{{ .Title }}">
        <div class="h-100">
          <div class="p-5">
            <h2 class="mb-2 mt-1 text-2xl">
              {{- if .Params.homeFeatureIcon }}
                <i class="{{ .Params.homeFeatureIcon }} mr-4 text-4xl"></i>
              {{- end }}
              {{ or .Params.homeFeatureTitle .Title }}
            </h2>
            <p class="text-sm font-normal">
              {{ .Summary }}
            </p>
          </div>
        </div>
      </a>
    {{- end }}
  </div>
  {{ if .Content }}
  <div class="flex-1 p-5 items-center justify-center">
    <div class="prose lg:prose-xl prose-invert rounded-xl bg-red-800/75 p-4 mx-auto">
        {{ .Content }}
    </div>
  </div>
  {{ end }}
{{- end }}