{{- define "main" }}

  {{ if and .Title .Content }}
  <div class="p-2 flex-1 items-center justify-center">
    <h2 itemprop="headline" class="text-2xl p-3 "> 
      {{- if .Params.homeFeatureIcon }}
        <i class="{{ .Params.homeFeatureIcon }} mr-2 text-3xl"></i>
      {{- end }}
      {{ .Title }}
    </h2>
    <div itemprop="articleBody" class="articleBody px-3 pb-4">
      {{ .Content }}
    </div>
    {{/*  {{ partial "card-category-color.html" . }}  */}}
  </div>
  {{ end }}

  {{- $current := .Page.Permalink }}
  {{/*  Set up the content loop  */}}
  {{- $pages := slice }}
  {{- $pages = .Site.Pages }} 
  {{/*  remove the current page b/c it was displayed at the top of the page.  */}}
  {{- $pages = where $pages "Permalink" "ne" $current }}
  {{- $features := where $pages "Params.homeFeature" "eq" true }}
  {{ if $features }}
  {{ $featureHeader := site.Params.homePageFeatureHeader }}
  {{ if $featureHeader }}
    <h2 class="flex p-3 items-center mb-2 text-3xl uppercase">{{ $featureHeader }}</h2>
  {{ end }}
  <div class="p-2 mx-auto grid md:grid-cols-2 gap-12 mb-5">
  {{- range $features }}
    {{- partial "card-featured.html" . }} 
  {{- end }}
  </div>
  {{ end }}

  {{ if ne true site.Params.hideHomeFeed }}
    {{- $feed := where $pages "Params.homeFeature" "ne" true }}
    {{ $feedHeader := default "Latest stuff" (site.Params.homePageFeedHeader) }}
    <div class="md:grid-cols-2 p-2 mx-auto grid grid-cols-1 gap-6 mb-5">
      <h2 class="md:col-span-2 flex my-2 items-center mb-2 text-3xl uppercase">{{ $feedHeader }}</h2>
      {{ $excludedSections := site.Params.excludedSections | default slice }}
      {{ $excludedCategories := site.Params.excludedCategories | default slice }}
      {{ $excludedTags := site.Params.excludedTags | default slice }}
      {{- $filteredPages := slice -}}
      {{- range $feed.ByLastmod.Reverse }}
        {{- $excludePage := false -}}
        {{- range .Params.categories }}
          {{- if in $excludedCategories . }}
            {{- $excludePage = true -}}
            {{- break -}}
          {{- end }}
        {{- end }}
        {{- range .Params.tags }}
          {{- if in $excludedTags . }}
            {{- $excludePage = true -}}
            {{- break -}}
          {{- end }}
        {{- end }}
        {{- if $excludePage }}
          {{- continue -}}
        {{- end }}
        {{- if in $excludedSections .Section }}
          {{- continue }}
        {{- end }}
        {{- if eq .Summary "" }}
          {{- continue }}
        {{- end }}
        {{- $filteredPages = $filteredPages | append . -}}
      {{- end }}

      {{ range (.Paginate $filteredPages).Pages }}
      {{/*  {{ index .Params.categories 0 }}
      {{ .Section }}  */}}
        {{- partial "card-category-color.html" . }}
      {{- end }}
        <div class="md:col-span-2 flex p-3 justify-center items-center">
          {{ template "_internal/pagination.html" . }}
        </div>
    </div>
  {{ end }}
{{ end }}