{{- define "main" -}}
<div class="p-2 max-w-screen-xl mx-auto">
  <header class="max-w-screen-xl">
    {{- $headerClass := "" -}}
    {{- with .Param "twClasses.headerBackgroundFrameOuter" -}}
      {{- $headerClass = . -}}
    {{- end -}}
    <h1 class="{{ $headerClass }} rounded-t-lg p-3 flex items-center ">
      {{- if .Params.homeFeatureIcon -}}
        <i class="{{ .Params.homeFeatureIcon }} mr-2 text-4xl"></i>
      {{- end -}}
      {{- .Title -}}
    </h1>
  </header>
  <div class="mt-2 prose w-full max-w-max-screen-xl min-w-full lg:prose-lg dark:prose-invert">
    {{- .Content -}}
  </div>
  {{- if eq .Kind "taxonomy" -}}
    <div class="m-2">
      {{- partial "taxonomy-cloud.html" . -}}
    </div>
  {{- else -}}
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6 m-2">
      {{- $myCollection := .Pages -}}
      {{- if eq .Params.listRecursive true -}}
        {{- $myCollection = .RegularPagesRecursive -}}
      {{- end -}}
      {{- $paginator := .Paginate ($myCollection) -}}
      {{- range $paginator.Pages.ByLastmod.Reverse -}}
        {{- partial "card-category-color.html" . -}}
      {{- end -}}
    </div>
    {{- template "_internal/pagination.html" . -}}
  {{- end -}}
</div>
{{- end -}}
