{{ define "main" }}
  <div class="max-w-screen-xl mx-auto">
    {{- partial "breadcrumb.html" . }}
  </div>
  <div class="p-4 max-w-screen-xl mx-auto ">
    <div class=" grid grid-cols-1 md:grid-cols-12 gap-x-1 ">
      <header class=" w-full md:col-span-12 prose lg:prose-xl max-w-screen-lg  dark:prose-invert">
        <div class="">
          {{ $headerClass := "bg-gradient-to-r from-cyan-500 to-cyan-800 text-neutral-100" }} 
          {{ with .Param "twClasses.headerBackgroundFrameOuter" }}
          {{ $headerClass = . }}
          {{ end }}
          <h1 class=" rounded-t-lg p-3 flex items-center {{ $headerClass }}">
            {{- if .Params.homeFeatureIcon }}
            <i class="{{ .Params.homeFeatureIcon }} mr-2 text-4xl"></i>
            {{- end }}
            {{ .Title }}
          </h1>
          {{- if .Params.showDate}}
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}" class="">{{ $dateHuman }}</time>
          {{- end }}
          
        </div>
      </header>
      <div class="p-4 md:col-span-10 prose max-w-max lg:prose-lg dark:prose-invert ">
        {{ .Content }}
      </div>
      <aside class=" max-w-max md:col-span-2 relative">
        {{ if .Params.tags }}
            <div class="not-prose">
              {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            </div>
          {{ end }}
        {{- if .Params.showToc }}
        <div class=" md:sticky md:block top-0 flex-auto py-4  hidden">
          <div class="px-4 grid grid-cols-1">
            {{- partial "toc.html" . }}
          </div>
        </div>
        {{- end }}
      </aside>
    </div>
    {{ if .Param "photoGalleryTitle" }}
      <h2 class=" rounded-t-lg mb-1 p-3 flex items-center {{ $headerClass }}">{{ .Param "photoGalleryTitle" }}</h2>
      {{- partial "page_gallery.html" . -}}
    {{ end }}
  </div>
{{/*  {{ $image := resources.Get "/images/sunset-mission-bay.jpg" }}
{{- if $image -}}
{{- $post_image_webp := partial "ImageConverter.html" (dict "ImageSrc" "/images/sunset-mission-bay.jpg" "ImgParam" (printf "resize %dx%d webp q100" 1024 768)) -}}
{{- end }}  */}}
{{ end }}

