{{ define "main" }}
  <div class="max-w-screen-xl mx-auto">
    {{- partial "breadcrumb.html" . }}
  </div>
  <div class="p-4 max-w-screen-xl mx-auto ">
    <div class=" grid grid-cols-1 md:grid-cols-12 gap-x-1 ">
      <header class=" w-full md:col-span-12 prose lg:prose-xl {{ if .Params.hideAsideBar }}max-w-screen-xl{{ else }}max-w-screen-xl{{ end }}  dark:prose-invert">
        <div class="">
          {{ $headerClass := "bg-gradient-to-r from-cyan-500 to-cyan-800 text-neutral-100" }} 
          {{ with .Param "twClasses.headerBackgroundFrameOuter" }}
          {{ $headerClass = . }}
          {{ end }}
          <h1 class=" rounded-t-lg p-3 flex items-center {{ $headerClass }}">
            {{- if .Params.homeFeatureIcon }}
            <i class="{{ .Params.homeFeatureIcon }} mr-2 text-4xl"></i>
            {{- end }}
            {{ .Title }}
          </h1>
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}" class="{{- if ne site.Params.showDate true }}hidden{{- end }}">{{ $dateHuman }}</time>
        </div>
      </header>
      <div class="w-full {{ if .Params.hideAsideBar }}md:col-span-12{{ else }}md:col-span-10{{ end }} prose max-w-max-screen-xl min-w-full lg:prose-lg dark:prose-invert ">
        {{ .Content |  safeHTML }}
      </div>
      <aside class="w-full {{ if .Params.hideAsideBar }}md:col-span-12{{ else }}md:col-span-2{{ end }} relative">
        {{/* This did not end up being the quick solution to what i thought i might be trying to be solving  
        {{ with or .Next .Prev }}
        <div class="not-prose flex justify-between w-full border-2">
          {{ with .Next }}
            <a href="{{ .RelPermalink }}" class="text-right"><i class="fa-regular fa-hand-point-left text-lg px-2"></i>Prev</a>
          {{ end }}
          {{ with .Prev }}
            <a href="{{ .RelPermalink }}" class="text-left">Next<i class="fa-regular fa-hand-point-right text-lg px-2"></i></a>
          {{ end }}
        </div>
        {{ end }}  */}}
        {{- if .Params.tags }}
          <div class="not-prose">
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
          </div>
        {{- end }}
        
        {{- if .Params.showToc }}
        <div class="{{ if ne .Params.hideAsideBar true}}md:sticky md:block{{ end }} top-0 flex-auto py-4 hidden">
          <div class="px-4 grid grid-cols-1">
            {{- partial "toc.html" . }}
          </div>
        </div>
        {{- end }}
      </aside>
      
    </div>
  </div>
{{ end }}

