{{- define "main" -}}
{{/*  Yep, it the same as list.html  */}}
<div class="p-2 max-w-screen-xl mx-auto">
  {{- partial "content-header.html" . -}}
  <div class="mt-2 prose w-full max-w-max-screen-xl min-w-full lg:prose-lg dark:prose-invert">
    {{- .Content -}}
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6 m-2">
    {{- $myCollection := .Pages -}}
    {{- if eq .Params.listRecursive true -}}
      {{- $myCollection = .RegularPagesRecursive -}}
    {{- end -}}
    {{- $paginator := .Paginate ($myCollection) -}}
    {{- range $paginator.Pages.ByLastmod.Reverse -}}
      {{- partial "card-category-color.html" . -}}
    {{- end -}}
  </div>
  {{- template "_internal/pagination.html" . -}}
</div>
{{- end -}}
