{{- $alphaAlert := .Params.alphaAlert | default .Site.Params.alphaAlert -}}
{{- with $alphaAlert }}
  <div id="banners" class="max-w-screen-lg mx-auto w-full px-2">
    {{- range sort . "weight" }}
      {{- $.Scratch.Set "alertType" .alertType }}
      {{- $.Scratch.Set "alertTitle" .alertTitle }}
      {{- $.Scratch.Set "alertMessage" .alertMessage }}
      {{- $.Scratch.Set "alertIconClass" .alertIconClass }}
      {{- $.Scratch.Set "dismissable" .dismissable}}
      {{- partial "alert.html" $.Page }}
    {{- end }}
  </div>
{{- end }}