{{/*  
  Before you remove this attribution, consider doing a link exchange 
  by adding your website to our README. Email hello@arts-link.com to 
  let us know, or fork and add yourself :) 
  Of course you may do as you wish, so do remove this if desired.
*/}}
<div class="mx-auto justify-center flex ">
  <p><a href="https://www.github.com/arts-link/ryder/" class="underline" target="_blank">Ryder theme</a> created by <a href="https://www.arts-link.com/" class="underline" target="_blank">arts-link.com</a> </p>
</div>
