{{- $showAuthor := .Param "showAuthor" | default true }}
{{- $showReadOn := .Param "showReadOn" | default false }}
{{- $showDate := .Param "showDate" | default true }}
{{- $showCardLinkOverlay := .Param "showCardLinkOverlay" | default true }}
{{- $showSummaryMeta := .Param "showSummaryMeta" | default true}}
{{- $nowYear := time.Now | time.Format "2006" }}
{{- $headerStyle := .Param "cardCategoryColorsDefault" 
  | default "bg-gradient-to-r from-stone-300 to-stone-200 text-neutral-800" }}
{{- $articleBackgroundStyle := .Param "articleBackgroundStyle" 
  | default "" }}
{{- $featuredArticleBackgroundStyle := .Param "featuredArticleBackgroundStyle" 
  | default "bg-gradient-to-br from-rose-100 to-teal-100 text-neutral-900 dark:from-rose-800 dark:to-teal-800 dark:text-neutral-100" }}
{{- $dateYear := .Date | time.Format "2006" }}
{{- $dateHuman := "" }}
{{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{/*  {{ $dateHuman := .Date | time.Format ":date_long" }}  */}}
{{- if eq $dateYear $nowYear }}
  {{- $dateHuman = .Date | time.Format "Jan 02" }}
{{- else if eq $dateYear "0001" }}
  {{- $showDate = false }}
{{- else }}
  {{- $dateHuman = .Date | time.Format "Jan 02, 2006" }}
{{- end }}
{{- $articleSection := .Section }}
{{- $articleLink := .Section }}

{{- $categories := .GetTerms "categories" }}
{{- if gt (len $categories) 0 }}
  {{- $mainCategory := index $categories 0 }}
  {{- $articleSection = $mainCategory.Title }}
  {{- $articleLink = printf "categories/%s" $articleSection }}
  {{- with .Site.GetPage ($articleLink) }}
    {{- $articleSection = .Title }}
    {{- with .Params.cardCategoryColorsDefault }}
      {{- $headerStyle = . }}
    {{- end }}
  {{- end }}
{{- end }}
{{- $cardURL := .RelPermalink }}
{{- with .Params.detailpageURL }}
  {{- $cardURL = . }}
{{- end }}

<div itemscope="" itemtype="http://schema.org/Article" class="rounded-md {{ $headerStyle }}">
  <a itemprop="url" aria-label="{{ .Title }}" href="{{ $cardURL }}">
    <h2 itemprop="headline" class="text-2xl p-3"> 
      {{- if .Params.homeFeatureIcon }}
        <i class="{{ .Params.homeFeatureIcon }} mr-2 text-3xl"></i>
      {{- end }}
      {{ .Title }}
    </h2>
  </a>
</div>