{{ $hideAuthor := default true .Site.Params.hideAuthor }}

{{ $nowYear := time.Now | time.Format "2006" }}
{{ $dateYear := .Date | time.Format "2006" }}
{{ $dateHuman := "" }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{/*  {{ $dateHuman := .Date | time.Format ":date_long" }}  */}}
{{ if eq $dateYear $nowYear }}
  {{ $dateHuman = .Date | time.Format "Jan 02" }}
{{ else }}
  {{ $dateHuman = .Date | time.Format "Jan 02, 2006" }}
{{ end }}
{{ $articleSection := .Section }}
{{ $articleLink := .Section }}

{{ $headerStyle := default "bg-gradient-to-r from-zinc-400 to-zinc-300" (.Param "cardCategoryColorsDefault") }}
{{ if .Params.categories }}
  {{ $mainCategory := index .Params.categories 0 }}
  {{ $articleSection = $mainCategory }}
  {{ $articleLink = add "categories/" $articleSection }}
  {{ with .Site.GetPage (print "/categories/" $mainCategory) }}
    {{ with .Params.cardCategoryColorsDefault }}
      {{ $headerStyle = . }}
    {{ end }}
  {{ end }}
{{ end }}

<div itemscope="" itemtype="http://schema.org/Article" class="article">
  
  <div class="article-content relative p-1 rounded-t-xl {{ $headerStyle }}">
    <div class="w-full h-full bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100">
      <a itemprop="url" aria-label="{{ .Title }}" href="{{ .RelPermalink }}" class="link-overlay"> </a>
      <h2 itemprop="headline" class="text-2xl p-3 {{ $headerStyle }}"> 
        {{- if .Params.homeFeatureIcon }}
          <i class="{{ .Params.homeFeatureIcon }} mr-2 text-3xl"></i>
        {{- end }}
        {{ .Title }}
      </h2>
      {{ if or $articleSection .Site.Params.showDate (ne $hideAuthor true) }}
      <span class="details pl-2 mt-4 inline-block">
        {{/*  I am currenly not doing anything for author since it is only me but for Ryder author with be a taxonomy item and included in every page  */}}
        <span class="{{ with $hideAuthor }}hidden{{ end }}" itemprop="author" itemscope="" itemtype="http://schema.org/Person">By <span class="author" itemprop="name">{{ .Site.Params.author.name }}</span></span>
        {{ with $articleSection }}In <a href="{{ site.BaseURL }}{{ $articleLink }}"><span itemprop="articleSection" class="source font-bold capitalize">{{ . }}</span></a>{{ end }}
        <span class="{{- if ne .Site.Params.showDate true }}hidden{{- end }}">On <time itemprop="datePublished" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span>
      </span>
      {{ end }}
      <div itemprop="articleBody" class="articleBody px-3 pb-4">
        {{ or .Params.homeFeatureSummary .Summary }}
      </div>
    </div>
  </div>
</div>