<div id="themeSwitcher" class="flex justify-center mb-auto">
  <button id="lightMode" class="p-4">
    <i class="aspect-square fa-solid fa-sun" title="Using Light Theme"></i>
  </button>
  <button id="darkMode" class=" p-4">
    <i class="aspect-square fa-solid fa-moon" title="Using Dark Theme"></i>
  </button>
  <button id="systemMode" class=" p-4">
    <i class="aspect-square fa-solid fa-computer" title="Using System Theme"></i>
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const lightModeButton = document.getElementById("lightMode");
    const darkModeButton = document.getElementById("darkMode");
    const systemModeButton = document.getElementById("systemMode");
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    lightModeButton.addEventListener("click", () => toggleTheme('dark'));
    darkModeButton.addEventListener("click", () => toggleTheme('system'));
    systemModeButton.addEventListener("click", () => toggleTheme('light'));
    // Listen for OS-level theme changes
    darkModeMediaQuery.addListener(detectOSThemeChange);

    function toggleTheme(theme) {
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
        lightModeButton.classList.remove('hidden');
        darkModeButton.classList.add('hidden');
        systemModeButton.classList.add('hidden');
      } else if (theme === 'dark') {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
        darkModeButton.classList.remove('hidden');
        lightModeButton.classList.add('hidden');
        systemModeButton.classList.add('hidden');
      } else if (theme === 'system') {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.classList.add('dark');
          localStorage.theme = '';
          systemModeButton.classList.remove('hidden');
          darkModeButton.classList.add('hidden');
          lightModeButton.classList.add('hidden');
        } else {
          document.documentElement.classList.remove('dark');
          localStorage.theme = '';
          systemModeButton.classList.remove('hidden');
          lightModeButton.classList.add('hidden');
          darkModeButton.classList.add('hidden');
        }
      }
    }
   // Function to detect OS-level theme change
   function detectOSThemeChange(event) {
      // Check if the new theme is dark
      if (event.matches) {
        toggleTheme('dark');
      } else {
        toggleTheme('light');
      }
    }
    // Check local storage for theme or default to system
    if (localStorage.theme === 'dark') {
      toggleTheme('dark');
    } else if (localStorage.theme === 'light') {
      toggleTheme('light');
    } else {
      toggleTheme('system');
    }


  });
</script>
