<div class="flex items-center justify-center grid-cols-1 ">
  <button id="lightMode" class="dm-toggle p-1 sm:p-2">
    <i class="size-4 sm:size-6 fa-regular fa-sun" title="Turn off Dark Mode"></i>
  </button>
  <button id="darkMode" class="dm-toggle p-1 sm:p-2">
    <i class="size-4 sm:size-6 fa-regular fa-moon" title="Turn on Dark Mode"></i>
  </button>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const lightModeButton = document.getElementById("lightMode");
    const darkModeButton = document.getElementById("darkMode");

    // Check local storage for theme
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
      darkModeButton.classList.add('hidden');
      lightModeButton.classList.remove('hidden');
    } else {
      document.documentElement.classList.remove('dark');
      lightModeButton.classList.add('hidden');
      darkModeButton.classList.remove('hidden');
    }

    // Toggle theme
    function toggleTheme() {
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
        lightModeButton.classList.add('hidden');
        darkModeButton.classList.remove('hidden');
      } else {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
        darkModeButton.classList.add('hidden');
        lightModeButton.classList.remove('hidden');
      }
    }

    // Add event listener to toggle theme
    lightModeButton.addEventListener("click", toggleTheme);
    darkModeButton.addEventListener("click", toggleTheme);
  });
</script>