<div x-data="{
  theme: getInitialTheme(),
  initThemeSwitcher: function() {
      const savedTheme = localStorage.getItem('theme');
      if (!savedTheme) {
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          localStorage.setItem('theme', prefersDark ? 'dark' : 'light');
          this.theme = prefersDark ? 'dark' : 'light';
      }
  },
  getInitialTheme: function() {
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
          return savedTheme;
      } else {
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          return prefersDark ? 'dark' : 'light';
      }
  },
  toggleTheme: function(theme) {
      const body = document.body;
      body.classList.remove('light', 'dark');
      if (theme === 'light') {
          body.classList.add('light');
          localStorage.setItem('theme', 'light');
      } else if (theme === 'dark') {
          body.classList.add('dark');
          localStorage.setItem('theme', 'dark');
      } else if (theme === 'system') {
          localStorage.removeItem('theme');
      }
      this.theme = theme;
  }
}" x-init="initThemeSwitcher()" id="themeSwitcher" class="flex justify-center mb-auto">
<button x-show="theme === 'light'" x-on:click="toggleTheme('dark')" class="p-4 text-2xl">
  <i class="aspect-square fa-solid fa-sun" title="Using Light Theme"></i>
</button>
<button x-show="theme === 'dark'" x-on:click="toggleTheme('system')" class="p-4 text-2xl">
  <i class="aspect-square fa-solid fa-moon" title="Using Dark Theme"></i>
</button>
<button x-show="theme === 'system'" x-on:click="toggleTheme('light')" class="p-4 text-2xl">
  <i class="aspect-square fa-solid fa-computer" title="Using System Theme"></i>
</button>
</div>
hss