{{ $footerClass := "" }} 
{{ with or (.Param "twClasses.footerBackground") (.Param "twClasses.headerBackgroundFrameOuter") (.Param "headerGradientClasses")}}
{{ $footerClass = . }}
{{ end }}


<footer class="border-t w-full mt-auto text-neutral-100 {{ $footerClass }} ">
  <div class="flex flex-col items-center justify-center mx-auto">
    <div class="py-4 px-2 flex flex-col items-center">
      {{- with .Site.Copyright | safeHTML }}
        <p class="flex mx-auto items-center">{{ . }}</p>
      {{- end }}
      {{- partial "utils/attribution.html" . }}
      {{- partial "utils/page_meta.html" . }}
      {{ if .Site.Menus.footer }}
        {{- partial "menu.html" (dict "menuID" "footer" "page" .) }} 
      {{ end }}
      {{- partial "utils/socialslist.html" . }}
      {{- if (.Param "showDarkToggle") }}
        {{- partial "utils/dark-toggle.html" . }}
      {{- end }}
      <div class="md:w-3/4 lg:w-2/3">
        {{- partial "utils/taxonomy-string.html" . }}
      </div>
    </div>
    
  </div>
</footer>
