{{ $footerClass := "bg-gradient-to-r from-cyan-500 to-cyan-800" }} 
{{ with or (.Param "twClasses.footerBackground") (.Param "twClasses.headerBackgroundFrameOuter") (.Param "headerGradientClasses")}}
{{ $footerClass = . }}
{{ end }}


<footer class="border-t w-full mt-auto text-neutral-100 {{ $footerClass }} ">
  <div class="flex justify-between ">
    <div class="py-4 px-2 text-sm ">
      {{- with .Site.Copyright | safeHTML }}
      <p class="flex items-center">{{ . }}</p>
      {{- end }}
      {{- partial "attribution.html" . }}
    </div>
    <div class="py-4 px-2 text-sm">
      {{- partial "menu.html" (dict "menuID" "footer" "page" .) }} 
    </div>
    <div class="flex justify-end text-xl ">
      {{- partial "socialslist.html" . }}
      {{- if (.Param "showDarkToggle") }}
        {{- partial "dark-toggle.html" . }}
      {{- end }}
    </div>
  </div>
</footer>
