{{ $headerClass := "bg-gradient-to-r from-cyan-500 to-cyan-800" }} 
{{/*  make sure to remember you point tailwind.config.js to your config file  */}}
{{ with .Param "headerTWClasses" }}
{{ $headerClass = . }}
{{ end }}
<header class="{{ $headerClass }} w-full">
<div class="p-1 sm:p-4 flex flex-row border w-full">
    {{- partial "logo.html" . }}
    <div class="ml-auto flex items-center pr-2 sm:hidden text-3xl"><i class="fa-solid fa-burger cursor-pointer"></i></div>
    <div class="ml-auto hidden sm:flex text-xl">
    {{- partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
</div>
</header>
