{{ $headerClass := "bg-gradient-to-r from-cyan-500 to-cyan-800" }} 
{{/*  make sure to remember you point tailwind.config.js to your config file  */}}

{{/*  {{ with .Param "headerTWClasses" }}  */}}
{{ with .Param "twClasses.headerBackground" }}
{{ $headerClass = . }}
{{ end }}

<header class="{{ $headerClass }} w-full {{ if site.Params.navbar_fixed }}sticky top-0{{ end }}">
<div class=" p-3 sm:p-4 flex flex-row w-full">
    {{- partial "logo.html" . }}
    <div class="ml-auto flex relative">
        <!-- navbar toggler -->
        <input id="nav-toggle" type="checkbox" class="hidden" />
        <label
            for="nav-toggle"
            class="cursor-pointer flex items-center sm:hidden">
            <i id="show-button" class="text-4xl fa-solid fa-burger cursor-pointer"></i>
              {{/*  <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
              </svg>  */}}
              <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
                <title>Menu Close</title>
                <polygon
                  points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                  transform="rotate(45 10 10)"></polygon>
              </svg>
        {{/*  <div class="ml-auto flex items-center pr-2 sm:hidden text-3xl group-hover/header-main:hidden">  */}}
            {{/*  <i class="fa-solid fa-burger cursor-pointer"></i>  */}}
        {{/*  </div>  */}}
        </label>
  
        <div id="nav-menu" class="ml-auto hidden absolute top-12 right-2 sm:inline sm:top-auto sm:left-auto sm:right-0 sm:text-xl ">

            <div class="">
                {{- partial "menu.html" (dict "menuID" "main" "page" . "shade" "rose") }}
            </div>
        </div>
    </div>
</div>
</header>
