<div class="mb-12 mt-9 sm:px-6">hiya
  <div class="fj-gallery" style="visibility: hidden; height: 650px;">
    {{- $photos := sort (.Resources.ByType "image") (index .Params "sort_by" | default "Name") (.Params.sort_order | default "asc") }}
    {{- range $index, $original := $photos }}
      {{- if eq $original.ResourceType "image" }}
        {{- $metadata := dict }}
        {{- with $original.Exif }}
          {{- $metadata = merge .Tags $metadata }}
        {{- end }}
        {{- $rotation := "" }}
        {{- with $metadata.Orientation }}
          {{- if or (eq . 8) (eq . 7) }}
            {{- $rotation = " r90" }}
          {{- else if or (eq . 3) (eq . 4) }}
            {{- $rotation = " r180" }}
          {{- else if or (eq . 6) (eq . 5) }}
            {{- $rotation = " r270" }}
          {{- end }}
        {{- end }}
        {{- $thumbnail := ($original.Fit (printf "%s %s q75 webp" "800x800" $rotation)) }}
        {{- $full := ($original.Fit (printf "%s %s q80 webp" "1600x1600" $rotation)) }}
        {{- $color := index $thumbnail.Colors 0 | default "transparent" }}
        {{- $altTitleText := page.Title }}
        {{- if $metadata }}
          {{- with $metadata.ImageDescription }}
            {{- $altTitleText = . }}
          {{- else }}
            {{- with $metadata.Title }}
              {{- $altTitleText = . }}
            {{- end }}
          {{- end }}
        {{- end }}

        <a
          href="{{- $full.RelPermalink }}"
          class="fj-gallery-item cursor-zoom-in"
          data-src="{{- $full.RelPermalink }}"
          data-pswp-src="{{- $full.RelPermalink }}"
          data-pswp-width="{{- $full.Width }}"
          data-pswp-height="{{- $full.Height }}"
          title="Open {{- $altTitleText }} lightbox"
          itemscope
          itemtype="https://schema.org/ImageObject"
          style="background-color: {{- $color }}; aspect-ratio: {{- $thumbnail.Width }} / {{- $thumbnail.Height }}"
        >
          <img
            width="{{- $thumbnail.Width }}"
            height="{{- $thumbnail.Height }}"
            class="lazyload"
            data-src="{{- $thumbnail.RelPermalink }}"
            alt="{{- $altTitleText }}"
          />
          <meta itemprop="contentUrl" content="{{- $original.RelPermalink }}" />
          {{- with $.Site.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{- $.Site.Author.name }}" />
            </span>
          {{- end }}
        </a>
      {{- end }}
    {{- end }}
  </div>
</div>
