{{/*  {{.GitInfo | jsonify}}  */}}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
{{ $dateLastmodMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateLastmodHuman := .Lastmod | time.Format ":date_long" }}
  {{/*  {{ printf "%#v" .GitInfo }}  */}}
{{ $hash1 := "Commit" }}
{{ $hash2 := "History" }}
{{ $hash3 := "Blame" }}
{{ $hashlink := "nope" }}
{{ $daPL := .RelPermalink }}
{{ $daFP := "" }}
{{ with .File }}
  {{ $daFP = .Path }}
  {{- $hash2 = fmt.Printf "<a href=\"%s/commits/main/content/%s\">%s</a>" site.Params.repository $daFP "History" -}}
  {{- $hash3 = fmt.Printf "<a href=\"%s/blame/main/content/%s\">%s</a>" site.Params.repository $daFP "Blame" -}}
{{ end }}
{{ with .GitInfo }}
  <!-- <div>
    <i class="fa-solid fa-hashtag"></i>: [{{ .Hash }}]
  </div> -->
  {{- $hash1 = fmt.Printf "<a href=\"%s/commit/%s\">%s</a>" site.Params.repository .Hash .AbbreviatedHash -}}
  {{- $hashlink = fmt.Printf "%s / %s / %s" $hash1 $hash2 $hash3 -}}
{{ end }}

<div>
  <!-- 
  DATE: {{ .Date}}/
  Human: {{ $dateHuman }}<br/>
  LASTMOD: {{ .Lastmod}}/
  Human: {{ $dateLastmodHuman }}<br/>
  -->
  <i class="fa-solid fa-calendar-days"></i> Published: <time datetime="{{ $dateMachine }}" class="">{{ $dateHuman }}</time>
  {{/*  TODO only show lastmod if different...  */}}
  {{ if ne .Lastmod .Date }}
  (Last Modified: <time datetime="{{ $dateLastmodMachine }}" class="">{{ $dateLastmodHuman }}</time>)
  {{ end }}
</div>
<div>
  <i class="fa-brands fa-github-alt"></i> {{ $hashlink | safe.HTML }}
</div>