{{ with site.Params.plausible_domain }}

  {{ $domain := . }}
  {{ $advanced := false }}

  {{ if .domain }}
    {{ $domain = .domain }}
  {{ end }}

  {{ if .advanced }}
    {{ $advanced = .advanced }}
  {{ end }}

  {{ if $advanced }}
    <script defer data-domain="arts-link.com" src="https://plausible.io/js/script.hash.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  {{ else }}
    <script defer data-domain="{{ $domain }}" src="https://plausible.io/js/plausible.js"></script>
  {{ end }}

{{ end }}
