{{ with .Site.Data.social.main }}
{{/*  <ul class="flex flex-wrap justify-center border">  */}}
<div class="flex mb-auto max-w-fit">
  {{ range sort . "weight" }}
  {{ if .icon }} {{ if .link }}
  <button class="p-4">
    <a class="hover:underline cursor-pointer" href="{{ .link | safeURL }}" aria-label="{{ .title }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
      <i class="{{ .icon }}"></i>
      {{/*  <span class="sr-only">{{ .title }}</span>  */}}
    </a>
  </button>
  {{ end }} {{ end }} 
{{ end }}
</div>
{{/*  </ul>  */}}
{{ end }}