{{/*  
  Before you remove this attribution, consider doing a link exchange 
  by adding your website to our README. Email hello@arts-link.com to 
  let us know, or fork and add yourself :) 
  Of course you may do as you wish, so do remove this if desired.
*/}}
{{ if ne .Site.Params.hideAttribution true }}
<div>
  <p><a href="https://www.github.com/arts-link/ryder/" class="underline">Ryder theme</a> created by <a href="https://www.arts-link.com/" class="underline">arts-link.com</a> </p>
</div>
{{ end}}
