<div id="themeSwitcher" class="flex justify-center mb-auto cursor-pointer text-2xl">
  <button aria-label="Switch to Dark Theme" id="lightMode" class="p-3">
    <i class="aspect-square fa-solid fa-sun" title="Switch to Dark Theme"></i>
  </button>
  <button aria-label="Switch to System Theme" id="darkMode" class=" p-3">
    <i class="aspect-square fa-solid fa-moon" title="Switch to System Theme"></i>
  </button>
  <button aria-label="Switch to Light Theme" id="systemMode" class=" p-3">
    <i class="aspect-square fa-solid fa-computer" title="Switch to Light Theme"></i>
  </button>
</div>

