<div id="themeSwitcher" class="footer-theme-toggle">
  <button aria-label="Switch to Dark Theme" id="lightMode" class="footer-theme-button">
    <i class="aspect-square fa-solid fa-sun" title="Switch to Dark Theme"></i>
  </button>
  <button aria-label="Switch to System Theme" id="darkMode" class="footer-theme-button">
    <i class="aspect-square fa-solid fa-moon" title="Switch to System Theme"></i>
  </button>
  <button aria-label="Switch to Light Theme" id="systemMode" class="footer-theme-button">
    <i class="aspect-square fa-solid fa-computer" title="Switch to Light Theme"></i>
  </button>
</div>
