{{- with .Site.Data.social.main }}
<div class="footer-socials-list">
  {{- range sort . "weight" }}
  {{- if and .icon .link }}
  <div x-data="socialsList" class="relative">
    <a class="footer-social-link" @mouseenter="show = true" @mouseleave="show = false" @focus="show = true" @blur="show = false" href="{{ .link | safeURL }}" aria-label="{{ .title }}" title="{{ .title }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
      <i class=" {{ .icon }}"></i>
    </a>
    <div x-show="show" x-transition.opacity.duration.150ms
         class="footer-social-tooltip"
         style="display: none;">
      <div class="footer-social-tooltip-label">{{ .title }}</div>
    </div>
  </div>
  {{- end }} 
  {{- end }}
</div>
{{- end }}
