{{- $taxonomies := site.Params.footer.taxonomies }}

{{- /* Only render if taxonomies are explicitly configured */ -}}
{{- if $taxonomies }}
  {{- range $taxonomies }}
    {{- $taxonomy := .name }}
    {{- $title := .title }}
    {{- $minCount := .minCount | default 1 }}
    {{- $baseURL := $.Site.BaseURL }}

    <div class="items-center justify-center text-center">
      <h4>{{ $title }}</h4>
      {{- range $name, $taxonomyPage := (index $.Site.Taxonomies $taxonomy) }}
        {{- $tagCount := len $taxonomyPage.Pages }}
        {{- if ge $tagCount $minCount }}
          <a href="{{ printf "%s%s/%s" $baseURL $taxonomy ($name | urlize) }}" class="px-2 inline-block text-center break-words">{{ $name }}<sup>{{ $tagCount }}</sup></a>
        {{- end }}
      {{- end }}
    </div>
  {{- end }}
{{- end }}
