{{- $lat := .Get "latitude" | default .Page.Params.maps.lat | float -}}
{{- $lon := .Get "longitude" | default .Page.Params.maps.lon | float -}}


{{- $latDegrees := math.Floor $lat -}}
{{- $latMinutes := math.Floor (mul (math.Abs (sub $lat $latDegrees)) 60) -}}
{{- $latSeconds := mul (sub (mul (math.Abs (sub $lat $latDegrees)) 60) $latMinutes) 60 -}}

{{- $lonDegrees := math.Floor $lon -}}
{{- $lonMinutes := math.Floor (mul (math.Abs (sub $lon $lonDegrees)) 60) -}}
{{- $lonSeconds := mul (sub (mul (math.Abs (sub $lon $lonDegrees)) 60) $lonMinutes) 60 -}}

{{- $latDMS := printf "%d° %02d' %05.2f\"" (int $latDegrees) (int $latMinutes) $latSeconds -}}
{{- $lonDMS := printf "%d° %02d' %05.2f\"" (int $lonDegrees) (int $lonMinutes) $lonSeconds -}}

<div class="grid grid-cols-12 gap-1 p-1">
  <div class="flex col-span-2 items-center justify-center text-2xl font-bold">
    <!-- Left column with icon -->
    <i class="text-emerald-500 text-5xl fa-solid fa-globe"></i>
  </div>
  <div class="flex flex-col col-span-5 items-center justify-center">
    <!-- Middle column -->
    <div class="text-lg font-semibold">Latitude</div>
    <div>{{ $latDMS }}</div>
  </div>
  <div class="flex flex-col col-span-5 items-center justify-center">
    <!-- Right column -->
    <div class="text-lg font-semibold">Longitude</div>
    <div>{{ $lonDMS }}</div>
  </div>
</div>



